<article>
    <%= page_header(@link.title, link_to(prettify_url(@link.url), @link.url)).html_safe %>

    <section class="content">
        <%= @link_content.html_safe %>
    </section>

    <h3>
        <a name="comments" class="anchor"></a>
        <%= pluralize @link.comments.length, 'Comment' %>
    </h3>

    <%= render @link.comments %>

    <h3>Add a comment</h3>
    <%= render 'comments/form' %>
</article>